<div class="padre">
  <div class="card w-75" style="padding: 30px;">

    <img src="../assets/TotalPLay.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"
      alt="...">

    <div class="card-body">
      <p class="card-text"> <i style="color: #3598db;">TPE COMUNICACIONES COLOMBIA S.A.S.</i> es la responsable del
        tratamiento de los datos personales
        que nos estás proporcionando de manera voluntaria, los cuales, serán utilizados para que te contactemos vía
        telefónica por un ejecutivo comercial y poder brindarte información sobre nuestro portafolio de servicios y las
        ofertas que en Totalplay tenemos para tu hogar.</p>

      <p>

        Para mayor información acerca de los canales, tratamiento y tus derechos como titular de la información, puedes
        acceder a nuestra Política de Protección de Datos Personales la cual se encuentra pública en nuestra página web
        . <a href="https://totalplay.co/">https://totalplay.co/</a> parte inferior.
      </p>
      <!-- Formulario total play-->
      <form [formGroup]="totalForm" (ngSubmit)="onSubmit(totalForm)" class="row col-12">
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Nombres y apellidos *
          </label>
          <input class="form-control" type="text" style="width: 100%;" formControlName="nombre"
            placeholder="Nombres y apellidos">
          <div *ngIf="f.nombre.hasError('required') && f.nombre.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Nombres y apellisdos son requeridos</div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Dirección *
          </label>
          <input class="form-control" type="text" formControlName="direccion" placeholder="Dirección">
          <div *ngIf="f.direccion.hasError('required') && f.direccion.touched"
            style="color: red; font-size: 11px !important; margin-top: 8px;"> Dirección es requerida </div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Barrio *
          </label>
          <input class="form-control" type="text" formControlName="barrio" placeholder="Barrio">
          <div *ngIf="f.barrio.hasError('required') && f.barrio.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Barrio es requerido</div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Teléfono de contacto *
          </label>
          <input class="form-control" type="tel" formControlName="telefono" placeholder="Teléfono de contacto">
          <div *ngIf="f.telefono.hasError('required') && f.telefono.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Teléfono de contacto es requerido</div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Proveedor de internet y TV actual *
          </label>
          <input class="form-control" type="text" formControlName="proveedor"
            placeholder="Proveedor de internet y TV actual">
          <div *ngIf="f.proveedor.hasError('required') && f.proveedor.touched"
            style="color: red; font-size: 11px !important; margin-top: 8px;"> Proveedor de internet y TV actual es
            requerido</div>
        </div>
        <div class="col-12" style="margin-top: 15px;">
          <label class="form-label">
            Tiempo con este proveedor *
          </label>
          <input class="form-control" type="number" formControlName="tiempo" placeholder="Tiempo en Meses">
          <div *ngIf="f.tiempo.hasError('required') && f.tiempo.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Tiempo con este proveedor es requerido</div>
          <div *ngIf="f.tiempo.hasError('pattern') && f.tiempo.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Solo se admiten números </div>
        </div>
        <div class="col-12" style="margin-top: 15px; margin-bottom: 32px;">
          <label class="form-label">
            Código Promotor *
          </label>
          <input class="form-control" type="number" formControlName="codigo" placeholder="Código Promotor">
          <div *ngIf="f.codigo.hasError('required') && f.codigo.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Código Promotor es requerido</div>
          <div *ngIf="f.codigo.hasError('pattern') && f.codigo.touched" style="color: red; font-size: 11px !important; margin-top: 8px;">
            Solo se admiten números</div>
        </div>

        <button type="submit" class="btn btn-primary" style="background-color: #3AAEE0; border: none;" [hidden]="send"
          [disabled]="totalForm.invalid">Acepto</button>
      </form>

    </div>
  </div>
</div>