body {
    background-color: #e7e7e7;
}

.padre {
    padding-top: 3rem;
    height: auto;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hijo {
    background: red;
    width: 120px;
  }